<h3 class="paddingbottom"><strong><i class="fa-fw fa fa-wrench" aria-hidden="true"></i> Milestones</strong></h3>
<% @milestones.each do |milestone| %>
  <a href='/gitportal/milestones/<%= milestone['number']%>'>
    <h3 style="margin-top:15px;"><%= milestone['open_issues'] %> <br><small>open issues</small></h3>
    <label>Milestone #<%= milestone['number'] %></label>
    <h4><%= milestone['title'] %></h4>
    <p><%= milestone['open_issues'] %> open issues</p>
    <p><small>
      <% if milestone['due_on'] %>
        Due by <%= Time.parse(milestone['due_on']).strftime("%b %d, %Y") %>
      <% end %>
      <% if milestone['updated_at'] %>
        Last updated <%= time_ago_in_words(milestone['updated_at']) %> ago
      <% end %>
    </small></p>
  </a>
<% end %>
