<div class="bgray fullheight" data-turbolinks="false">
<div class="container nogutter">
  <div class="container paddingbottom">
    <div class="col-md-8 col-md-offset-2 nogutter">
      <%= render 'gitportal/issues/label_filter' %>

      <% if @issues.count > 0 %>

        <% @issues.each do |issue| %>
          <% unless issue["pull_request"].present? or issue["labels"].to_s.include? 'hidden' then %>
            <a href="<%= issue_path(issue['number']) %>" class='list-group-item'>
                <div class='markdown'>
                  <p>
                    <strong><%= issue['title'] %></strong>
                    <label class='label label-default pull-right'>Issue #<%= issue['number'] %></label>
                  <p>
                  <%=  labels(issue['labels']) %>
                  <br>
                  <small>Created <%= time_ago_in_words(issue['created_at']) %> ago</small>
                </div>
            </a>
          <% end %>

        <% end %>

      <% else %>
        <h3>No Issues</h3>
      <% end %>

    </div>
  </div>
</div>
