<a href='<%= @back_link %>'><%= @back_link_title %></a>
<h1><%= @issue['title'] %></h1>
Created <%= time_ago_in_words(@issue['created_at']) %> Ago
<a href='<%= @issue['html_url'] %>' target='blank'>View Issue #<%= @issue['number']%> GitHub</a>
<%= all_labels(@issue['labels']) %>
<%= markdown(@issue['body']) %>
